USE [CafeOtomasyonu]
GO
/****** Object:  Table [dbo].[MUSTERILER]    Script Date: 23.06.2022 18:35:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MUSTERILER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AD] [nvarchar](50) NULL,
	[SOYAD] [nvarchar](50) NULL,
	[ADRES] [text] NULL,
	[TELEFON] [nvarchar](11) NULL,
	[ILKSIPARIS] [date] NULL,
	[EMAIL] [nvarchar](50) NULL,
	[SIPARISSAYISI] [int] NULL,
	[DURUM] [bit] NULL,
 CONSTRAINT [PK_MUSTERILER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ADISYON]    Script Date: 23.06.2022 18:35:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADISYON](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SERVISTURNO] [int] NULL,
	[PERSONELID] [int] NULL,
	[MASAID] [int] NULL,
	[TARIH] [datetime] NULL,
	[DURUM] [bit] NULL,
 CONSTRAINT [PK_ADISYON] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAKETSIPARIS]    Script Date: 23.06.2022 18:35:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAKETSIPARIS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MUSTERIID] [int] NULL,
	[ADISYONID] [int] NULL,
	[ODEMETURID] [int] NULL,
	[ACIKLAMA] [text] NULL,
	[DURUM] [bit] NULL,
 CONSTRAINT [PK_PAKETSIPARIS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[URUNLER]    Script Date: 23.06.2022 18:35:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[URUNLER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[KATEGORIID] [int] NULL,
	[URUNAD] [nvarchar](100) NULL,
	[ACIKLAMA] [text] NULL,
	[FIYAT] [money] NULL,
	[DURUM] [bit] NULL,
 CONSTRAINT [PK_URUNLER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SATISLAR]    Script Date: 23.06.2022 18:35:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SATISLAR](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ADISYONID] [int] NULL,
	[URUNID] [int] NULL,
	[MASAID] [int] NULL,
	[ADET] [int] NULL,
	[DURUM] [bit] NULL,
 CONSTRAINT [PK_SATISLAR] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[View_1]    Script Date: 23.06.2022 18:35:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[View_1]
AS
SELECT        SUM(dbo.SATISLAR.ADET * dbo.URUNLER.FIYAT) AS Fiyat
FROM            dbo.ADISYON INNER JOIN
                         dbo.MUSTERILER ON dbo.ADISYON.ID = dbo.MUSTERILER.ID INNER JOIN
                         dbo.PAKETSIPARIS ON dbo.ADISYON.ID = dbo.PAKETSIPARIS.ADISYONID AND dbo.MUSTERILER.ID = dbo.PAKETSIPARIS.MUSTERIID INNER JOIN
                         dbo.SATISLAR ON dbo.ADISYON.ID = dbo.SATISLAR.ADISYONID INNER JOIN
                         dbo.URUNLER ON dbo.SATISLAR.URUNID = dbo.URUNLER.ID
WHERE        (dbo.PAKETSIPARIS.MUSTERIID = 1) AND (dbo.PAKETSIPARIS.DURUM = 1)
GO
/****** Object:  Table [dbo].[HESAPODEMELERI]    Script Date: 23.06.2022 18:35:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HESAPODEMELERI](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ADISYONID] [int] NULL,
	[ODEMETURID] [int] NULL,
	[MUSTERIID] [int] NULL,
	[ARATOPLAM] [money] NULL,
	[KDVTUTARI] [money] NULL,
	[INDIRIM] [money] NULL,
	[TOPLAMTUTAR] [money] NULL,
	[TARIH] [datetime] NULL,
	[DURUM] [bit] NULL,
 CONSTRAINT [PK_HESAPODEMELERI] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KATEGORILER]    Script Date: 23.06.2022 18:35:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KATEGORILER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[KATEGORIADI] [nvarchar](100) NULL,
	[ACIKLAMA] [text] NULL,
	[DURUM] [bit] NULL,
 CONSTRAINT [PK_KATEGORILER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MASALAR]    Script Date: 23.06.2022 18:35:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MASALAR](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[KAPASITE] [int] NULL,
	[SERVISTURU] [int] NULL,
	[DURUM] [int] NULL,
	[ONAY] [bit] NULL,
 CONSTRAINT [PK_MASALAR] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ODEMETURLERI]    Script Date: 23.06.2022 18:35:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ODEMETURLERI](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ODEMETURU] [nvarchar](50) NULL,
	[ACIKLAMA] [text] NULL,
	[DURUM] [bit] NULL,
 CONSTRAINT [PK_ODEMETURLERI] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERSONELGOREVLERI]    Script Date: 23.06.2022 18:35:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERSONELGOREVLERI](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[GOREV] [nvarchar](100) NULL,
	[ACIKLAMA] [text] NULL,
	[DURUM] [bit] NULL,
 CONSTRAINT [PK_PERSONELGOREVLERI] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERSONELHAREKETLERI]    Script Date: 23.06.2022 18:35:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERSONELHAREKETLERI](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PERSONELID] [int] NULL,
	[ISLEM] [nvarchar](50) NULL,
	[TARIH] [datetime] NULL,
	[DURUM] [bit] NULL,
 CONSTRAINT [PK_PERSONELHAREKETLERI] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERSONELLER]    Script Date: 23.06.2022 18:35:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERSONELLER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[GOREVID] [int] NULL,
	[AD] [nvarchar](50) NULL,
	[SOYAD] [nvarchar](50) NULL,
	[PAROLA] [nchar](10) NULL,
	[KULLANICIADI] [nchar](50) NULL,
	[DURUM] [bit] NULL,
 CONSTRAINT [PK_PERSONELLER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REZERVASYONLAR]    Script Date: 23.06.2022 18:35:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REZERVASYONLAR](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MUSTERIID] [int] NULL,
	[MASAID] [int] NULL,
	[ADISYONID] [int] NULL,
	[KISISAYISI] [int] NULL,
	[TARIH] [datetime] NULL,
	[ACIKLAMA] [text] NULL,
	[DURUM] [bit] NULL,
 CONSTRAINT [PK_REZERVASYONLAR] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SERVISTURU]    Script Date: 23.06.2022 18:35:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SERVISTURU](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SERVISADI] [nvarchar](50) NULL,
	[ACIKLAMA] [text] NULL,
 CONSTRAINT [PK_SERVISTURU] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ADISYON] ON 

INSERT [dbo].[ADISYON] ([ID], [SERVISTURNO], [PERSONELID], [MASAID], [TARIH], [DURUM]) VALUES (1052, 1, 1, 1, CAST(N'2022-06-12T13:26:46.907' AS DateTime), 0)
INSERT [dbo].[ADISYON] ([ID], [SERVISTURNO], [PERSONELID], [MASAID], [TARIH], [DURUM]) VALUES (1053, 1, 1, 4, CAST(N'2022-06-12T13:27:03.960' AS DateTime), 0)
INSERT [dbo].[ADISYON] ([ID], [SERVISTURNO], [PERSONELID], [MASAID], [TARIH], [DURUM]) VALUES (1054, 1, 1, 7, CAST(N'2022-06-12T13:27:17.147' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[ADISYON] OFF
GO
SET IDENTITY_INSERT [dbo].[HESAPODEMELERI] ON 

INSERT [dbo].[HESAPODEMELERI] ([ID], [ADISYONID], [ODEMETURID], [MUSTERIID], [ARATOPLAM], [KDVTUTARI], [INDIRIM], [TOPLAMTUTAR], [TARIH], [DURUM]) VALUES (4, 1053, 1, 1, 55.0000, 9.9000, 0.0000, 55.0000, CAST(N'2022-06-12T13:36:52.100' AS DateTime), 0)
INSERT [dbo].[HESAPODEMELERI] ([ID], [ADISYONID], [ODEMETURID], [MUSTERIID], [ARATOPLAM], [KDVTUTARI], [INDIRIM], [TOPLAMTUTAR], [TARIH], [DURUM]) VALUES (5, 1052, 2, 1, 75.0000, 13.5000, 0.0000, 75.0000, CAST(N'2022-06-12T13:37:17.190' AS DateTime), 0)
INSERT [dbo].[HESAPODEMELERI] ([ID], [ADISYONID], [ODEMETURID], [MUSTERIID], [ARATOPLAM], [KDVTUTARI], [INDIRIM], [TOPLAMTUTAR], [TARIH], [DURUM]) VALUES (6, 1055, 2, 1, 275.0000, 49.5000, 15.0000, 290.0000, CAST(N'2022-06-12T13:45:23.650' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[HESAPODEMELERI] OFF
GO
SET IDENTITY_INSERT [dbo].[KATEGORILER] ON 

INSERT [dbo].[KATEGORILER] ([ID], [KATEGORIADI], [ACIKLAMA], [DURUM]) VALUES (1, N'Çorbalar', N'Çorbalar', 0)
INSERT [dbo].[KATEGORILER] ([ID], [KATEGORIADI], [ACIKLAMA], [DURUM]) VALUES (2, N'Ara Sıcaklar', N'Ara Sıcaklar', 0)
INSERT [dbo].[KATEGORILER] ([ID], [KATEGORIADI], [ACIKLAMA], [DURUM]) VALUES (3, N'Ana Yemekler', N'Ana Yemekler', 0)
SET IDENTITY_INSERT [dbo].[KATEGORILER] OFF
GO
SET IDENTITY_INSERT [dbo].[MASALAR] ON 

INSERT [dbo].[MASALAR] ([ID], [KAPASITE], [SERVISTURU], [DURUM], [ONAY]) VALUES (1, 5, 1, 1, 0)
INSERT [dbo].[MASALAR] ([ID], [KAPASITE], [SERVISTURU], [DURUM], [ONAY]) VALUES (2, 3, 1, 1, 0)
INSERT [dbo].[MASALAR] ([ID], [KAPASITE], [SERVISTURU], [DURUM], [ONAY]) VALUES (3, 5, 1, 4, 0)
SET IDENTITY_INSERT [dbo].[MASALAR] OFF
GO
SET IDENTITY_INSERT [dbo].[MUSTERILER] ON 

INSERT [dbo].[MUSTERILER] ([ID], [AD], [SOYAD], [ADRES], [TELEFON], [ILKSIPARIS], [EMAIL], [SIPARISSAYISI], [DURUM]) VALUES (1, N'Standart ', NULL, NULL, NULL, NULL, NULL, NULL, 0)
INSERT [dbo].[MUSTERILER] ([ID], [AD], [SOYAD], [ADRES], [TELEFON], [ILKSIPARIS], [EMAIL], [SIPARISSAYISI], [DURUM]) VALUES (1002, N'Beyza', N'Gül', N'İstanbul', N'5535353535', NULL, N'beyza@gmail.com', NULL, 0)
INSERT [dbo].[MUSTERILER] ([ID], [AD], [SOYAD], [ADRES], [TELEFON], [ILKSIPARIS], [EMAIL], [SIPARISSAYISI], [DURUM]) VALUES (1003, N'Emre', N'Şimşek', N'Bursa', N'552525252', NULL, N'', NULL, 0)
SET IDENTITY_INSERT [dbo].[MUSTERILER] OFF
GO
SET IDENTITY_INSERT [dbo].[ODEMETURLERI] ON 

INSERT [dbo].[ODEMETURLERI] ([ID], [ODEMETURU], [ACIKLAMA], [DURUM]) VALUES (1, N'Nakit', N'Nakit Ödeme', 0)
INSERT [dbo].[ODEMETURLERI] ([ID], [ODEMETURU], [ACIKLAMA], [DURUM]) VALUES (2, N'Kredi Kartı', N'Kredi Kartıyla ödeme', 0)
INSERT [dbo].[ODEMETURLERI] ([ID], [ODEMETURU], [ACIKLAMA], [DURUM]) VALUES (3, N'Ticket', N'Ticket ile ödeme', 0)
SET IDENTITY_INSERT [dbo].[ODEMETURLERI] OFF
GO
SET IDENTITY_INSERT [dbo].[PAKETSIPARIS] ON 

INSERT [dbo].[PAKETSIPARIS] ([ID], [MUSTERIID], [ADISYONID], [ODEMETURID], [ACIKLAMA], [DURUM]) VALUES (6, 1, 1086, 1, N'TEST', 0)
SET IDENTITY_INSERT [dbo].[PAKETSIPARIS] OFF
GO
SET IDENTITY_INSERT [dbo].[PERSONELGOREVLERI] ON 

INSERT [dbo].[PERSONELGOREVLERI] ([ID], [GOREV], [ACIKLAMA], [DURUM]) VALUES (1, N'Müdür', N'Müdür', 0)
INSERT [dbo].[PERSONELGOREVLERI] ([ID], [GOREV], [ACIKLAMA], [DURUM]) VALUES (2, N'Bulaşıkçı', N'Baş bulaşıkçı', 0)
INSERT [dbo].[PERSONELGOREVLERI] ([ID], [GOREV], [ACIKLAMA], [DURUM]) VALUES (3, N'Şef', N'Şef', 0)
SET IDENTITY_INSERT [dbo].[PERSONELGOREVLERI] OFF
GO
SET IDENTITY_INSERT [dbo].[PERSONELHAREKETLERI] ON 

INSERT [dbo].[PERSONELHAREKETLERI] ([ID], [PERSONELID], [ISLEM], [TARIH], [DURUM]) VALUES (1, 1, N'Giriş Yaptı.', CAST(N'2022-05-20T00:00:00.000' AS DateTime), 0)
INSERT [dbo].[PERSONELHAREKETLERI] ([ID], [PERSONELID], [ISLEM], [TARIH], [DURUM]) VALUES (2, 1, N'Giriş Yaptı.', CAST(N'2022-05-20T00:00:00.000' AS DateTime), 0)
INSERT [dbo].[PERSONELHAREKETLERI] ([ID], [PERSONELID], [ISLEM], [TARIH], [DURUM]) VALUES (3, 1, N'Giriş Yaptı.', CAST(N'2022-05-20T00:00:00.000' AS DateTime), 0)
GO
SET IDENTITY_INSERT [dbo].[PERSONELHAREKETLERI] OFF
GO
SET IDENTITY_INSERT [dbo].[PERSONELLER] ON 

INSERT [dbo].[PERSONELLER] ([ID], [GOREVID], [AD], [SOYAD], [PAROLA], [KULLANICIADI], [DURUM]) VALUES (1, 1, N'Adem', N'Yalçın', N'123456    ', N'ademyalcin                                        ', 0)
INSERT [dbo].[PERSONELLER] ([ID], [GOREVID], [AD], [SOYAD], [PAROLA], [KULLANICIADI], [DURUM]) VALUES (2, 2, N'Belkıs', N'Kaya', N'1234567   ', N'belkiskaya                                        ', 1)
INSERT [dbo].[PERSONELLER] ([ID], [GOREVID], [AD], [SOYAD], [PAROLA], [KULLANICIADI], [DURUM]) VALUES (3, 3, N'Merry', N'Vury', N'123       ', N'merryvury                                         ', 1)
SET IDENTITY_INSERT [dbo].[PERSONELLER] OFF
GO
SET IDENTITY_INSERT [dbo].[REZERVASYONLAR] ON 

INSERT [dbo].[REZERVASYONLAR] ([ID], [MUSTERIID], [MASAID], [ADISYONID], [KISISAYISI], [TARIH], [ACIKLAMA], [DURUM]) VALUES (10, 1002, 3, 1088, 5, CAST(N'2022-06-23T00:00:00.000' AS DateTime), N'', 1)
INSERT [dbo].[REZERVASYONLAR] ([ID], [MUSTERIID], [MASAID], [ADISYONID], [KISISAYISI], [TARIH], [ACIKLAMA], [DURUM]) VALUES (11, 1003, 3, 1089, 3, CAST(N'2022-06-23T00:00:00.000' AS DateTime), N'', 1)
INSERT [dbo].[REZERVASYONLAR] ([ID], [MUSTERIID], [MASAID], [ADISYONID], [KISISAYISI], [TARIH], [ACIKLAMA], [DURUM]) VALUES (12, 1004, 4, 1090, 3, CAST(N'2022-06-23T00:00:00.000' AS DateTime), N'', 0)
SET IDENTITY_INSERT [dbo].[REZERVASYONLAR] OFF
GO
SET IDENTITY_INSERT [dbo].[SATISLAR] ON 

INSERT [dbo].[SATISLAR] ([ID], [ADISYONID], [URUNID], [MASAID], [ADET], [DURUM]) VALUES (14, 1052, 18, 1, 1, 0)
INSERT [dbo].[SATISLAR] ([ID], [ADISYONID], [URUNID], [MASAID], [ADET], [DURUM]) VALUES (16, 1053, 40, 4, 1, 0)
INSERT [dbo].[SATISLAR] ([ID], [ADISYONID], [URUNID], [MASAID], [ADET], [DURUM]) VALUES (17, 1053, 47, 4, 1, 0)
SET IDENTITY_INSERT [dbo].[SATISLAR] OFF
GO
SET IDENTITY_INSERT [dbo].[SERVISTURU] ON 

INSERT [dbo].[SERVISTURU] ([ID], [SERVISADI], [ACIKLAMA]) VALUES (1, N'Masa', N'Masa')
INSERT [dbo].[SERVISTURU] ([ID], [SERVISADI], [ACIKLAMA]) VALUES (2, N'Paket Servis', N'Paket Servis')
SET IDENTITY_INSERT [dbo].[SERVISTURU] OFF
GO
SET IDENTITY_INSERT [dbo].[URUNLER] ON 

INSERT [dbo].[URUNLER] ([ID], [KATEGORIID], [URUNAD], [ACIKLAMA], [FIYAT], [DURUM]) VALUES (1, 1, N'Ezo gelin', N'Ürün güncellendi.', 35.0000, 0)
INSERT [dbo].[URUNLER] ([ID], [KATEGORIID], [URUNAD], [ACIKLAMA], [FIYAT], [DURUM]) VALUES (7, 1, N'Domates', N'Çorba', 20.0000, 0)
INSERT [dbo].[URUNLER] ([ID], [KATEGORIID], [URUNAD], [ACIKLAMA], [FIYAT], [DURUM]) VALUES (8, 1, N'Mercimek', N'Çorba', 75.0000, 0)
SET IDENTITY_INSERT [dbo].[URUNLER] OFF
GO
ALTER TABLE [dbo].[ADISYON] ADD  CONSTRAINT [DF_ADISYON_TARIH]  DEFAULT (getdate()) FOR [TARIH]
GO
ALTER TABLE [dbo].[ADISYON] ADD  CONSTRAINT [DF_ADISYON_DURUM]  DEFAULT ((0)) FOR [DURUM]
GO
ALTER TABLE [dbo].[HESAPODEMELERI] ADD  CONSTRAINT [DF_HESAPODEMELERI_TARIH]  DEFAULT (getdate()) FOR [TARIH]
GO
ALTER TABLE [dbo].[HESAPODEMELERI] ADD  CONSTRAINT [DF_HESAPODEMELERI_DURUM]  DEFAULT ((0)) FOR [DURUM]
GO
ALTER TABLE [dbo].[KATEGORILER] ADD  CONSTRAINT [DF_KATEGORILER_DURUM]  DEFAULT ((0)) FOR [DURUM]
GO
ALTER TABLE [dbo].[MASALAR] ADD  CONSTRAINT [DF_MASALAR_DURUM]  DEFAULT ((1)) FOR [DURUM]
GO
ALTER TABLE [dbo].[MASALAR] ADD  CONSTRAINT [DF_MASALAR_STATU]  DEFAULT ((0)) FOR [ONAY]
GO
ALTER TABLE [dbo].[MUSTERILER] ADD  CONSTRAINT [DF_MUSTERILER_DURUM]  DEFAULT ((0)) FOR [DURUM]
GO
ALTER TABLE [dbo].[ODEMETURLERI] ADD  CONSTRAINT [DF_ODEMETURLERI_DURUM]  DEFAULT ((0)) FOR [DURUM]
GO
ALTER TABLE [dbo].[PAKETSIPARIS] ADD  CONSTRAINT [DF_PAKETSIPARIS_DURUM]  DEFAULT ((0)) FOR [DURUM]
GO
ALTER TABLE [dbo].[PERSONELGOREVLERI] ADD  CONSTRAINT [DF_PERSONELGOREVLERI_DURUM]  DEFAULT ((0)) FOR [DURUM]
GO
ALTER TABLE [dbo].[PERSONELHAREKETLERI] ADD  CONSTRAINT [DF_PERSONELHAREKETLERI_DURUM]  DEFAULT ((0)) FOR [DURUM]
GO
ALTER TABLE [dbo].[PERSONELLER] ADD  CONSTRAINT [DF_PERSONELLER_DURUM]  DEFAULT ((0)) FOR [DURUM]
GO
ALTER TABLE [dbo].[REZERVASYONLAR] ADD  CONSTRAINT [DF_REZERVASYONLAR_DURUM]  DEFAULT ((0)) FOR [DURUM]
GO
ALTER TABLE [dbo].[SATISLAR] ADD  CONSTRAINT [DF_SATISLAR_DURUM]  DEFAULT ((0)) FOR [DURUM]
GO
ALTER TABLE [dbo].[ADISYON]  WITH CHECK ADD  CONSTRAINT [FK_ADISYON_MASALAR] FOREIGN KEY([MASAID])
REFERENCES [dbo].[MASALAR] ([ID])
GO
ALTER TABLE [dbo].[ADISYON] CHECK CONSTRAINT [FK_ADISYON_MASALAR]
GO
ALTER TABLE [dbo].[ADISYON]  WITH CHECK ADD  CONSTRAINT [FK_ADISYON_PERSONELLER] FOREIGN KEY([PERSONELID])
REFERENCES [dbo].[PERSONELLER] ([ID])
GO
ALTER TABLE [dbo].[ADISYON] CHECK CONSTRAINT [FK_ADISYON_PERSONELLER]
GO
ALTER TABLE [dbo].[ADISYON]  WITH CHECK ADD  CONSTRAINT [FK_ADISYON_PERSONELLER1] FOREIGN KEY([PERSONELID])
REFERENCES [dbo].[PERSONELLER] ([ID])
GO
ALTER TABLE [dbo].[ADISYON] CHECK CONSTRAINT [FK_ADISYON_PERSONELLER1]
GO
ALTER TABLE [dbo].[ADISYON]  WITH CHECK ADD  CONSTRAINT [FK_ADISYON_PERSONELLER2] FOREIGN KEY([PERSONELID])
REFERENCES [dbo].[PERSONELLER] ([ID])
GO
ALTER TABLE [dbo].[ADISYON] CHECK CONSTRAINT [FK_ADISYON_PERSONELLER2]
GO
ALTER TABLE [dbo].[ADISYON]  WITH CHECK ADD  CONSTRAINT [FK_ADISYON_SERVISTURU] FOREIGN KEY([SERVISTURNO])
REFERENCES [dbo].[SERVISTURU] ([ID])
GO
ALTER TABLE [dbo].[ADISYON] CHECK CONSTRAINT [FK_ADISYON_SERVISTURU]
GO
ALTER TABLE [dbo].[HESAPODEMELERI]  WITH CHECK ADD  CONSTRAINT [FK_HESAPODEMELERI_ADISYON] FOREIGN KEY([ADISYONID])
REFERENCES [dbo].[ADISYON] ([ID])
GO
ALTER TABLE [dbo].[HESAPODEMELERI] CHECK CONSTRAINT [FK_HESAPODEMELERI_ADISYON]
GO
ALTER TABLE [dbo].[HESAPODEMELERI]  WITH CHECK ADD  CONSTRAINT [FK_HESAPODEMELERI_MUSTERILER] FOREIGN KEY([MUSTERIID])
REFERENCES [dbo].[MUSTERILER] ([ID])
GO
ALTER TABLE [dbo].[HESAPODEMELERI] CHECK CONSTRAINT [FK_HESAPODEMELERI_MUSTERILER]
GO
ALTER TABLE [dbo].[HESAPODEMELERI]  WITH CHECK ADD  CONSTRAINT [FK_HESAPODEMELERI_ODEMETURLERI] FOREIGN KEY([ODEMETURID])
REFERENCES [dbo].[ODEMETURLERI] ([ID])
GO
ALTER TABLE [dbo].[HESAPODEMELERI] CHECK CONSTRAINT [FK_HESAPODEMELERI_ODEMETURLERI]
GO
ALTER TABLE [dbo].[PAKETSIPARIS]  WITH CHECK ADD  CONSTRAINT [FK_PAKETSIPARIS_ADISYON] FOREIGN KEY([ADISYONID])
REFERENCES [dbo].[ADISYON] ([ID])
GO
ALTER TABLE [dbo].[PAKETSIPARIS] CHECK CONSTRAINT [FK_PAKETSIPARIS_ADISYON]
GO
ALTER TABLE [dbo].[PAKETSIPARIS]  WITH CHECK ADD  CONSTRAINT [FK_PAKETSIPARIS_MUSTERILER] FOREIGN KEY([MUSTERIID])
REFERENCES [dbo].[MUSTERILER] ([ID])
GO
ALTER TABLE [dbo].[PAKETSIPARIS] CHECK CONSTRAINT [FK_PAKETSIPARIS_MUSTERILER]
GO
ALTER TABLE [dbo].[PAKETSIPARIS]  WITH CHECK ADD  CONSTRAINT [FK_PAKETSIPARIS_ODEMETURLERI] FOREIGN KEY([ODEMETURID])
REFERENCES [dbo].[ODEMETURLERI] ([ID])
GO
ALTER TABLE [dbo].[PAKETSIPARIS] CHECK CONSTRAINT [FK_PAKETSIPARIS_ODEMETURLERI]
GO
ALTER TABLE [dbo].[PAKETSIPARIS]  WITH CHECK ADD  CONSTRAINT [FK_PAKETSIPARIS_ODEMETURLERI1] FOREIGN KEY([ODEMETURID])
REFERENCES [dbo].[ODEMETURLERI] ([ID])
GO
ALTER TABLE [dbo].[PAKETSIPARIS] CHECK CONSTRAINT [FK_PAKETSIPARIS_ODEMETURLERI1]
GO
ALTER TABLE [dbo].[PERSONELHAREKETLERI]  WITH CHECK ADD  CONSTRAINT [FK_PERSONELHAREKETLERI_PERSONELLER] FOREIGN KEY([PERSONELID])
REFERENCES [dbo].[PERSONELLER] ([ID])
GO
ALTER TABLE [dbo].[PERSONELHAREKETLERI] CHECK CONSTRAINT [FK_PERSONELHAREKETLERI_PERSONELLER]
GO
ALTER TABLE [dbo].[PERSONELLER]  WITH CHECK ADD  CONSTRAINT [FK_PERSONELLER_PERSONELGOREVLERI] FOREIGN KEY([GOREVID])
REFERENCES [dbo].[PERSONELGOREVLERI] ([ID])
GO
ALTER TABLE [dbo].[PERSONELLER] CHECK CONSTRAINT [FK_PERSONELLER_PERSONELGOREVLERI]
GO
ALTER TABLE [dbo].[REZERVASYONLAR]  WITH CHECK ADD  CONSTRAINT [FK_REZERVASYONLAR_ADISYON] FOREIGN KEY([ADISYONID])
REFERENCES [dbo].[ADISYON] ([ID])
GO
ALTER TABLE [dbo].[REZERVASYONLAR] CHECK CONSTRAINT [FK_REZERVASYONLAR_ADISYON]
GO
ALTER TABLE [dbo].[REZERVASYONLAR]  WITH CHECK ADD  CONSTRAINT [FK_REZERVASYONLAR_MASALAR] FOREIGN KEY([MASAID])
REFERENCES [dbo].[MASALAR] ([ID])
GO
ALTER TABLE [dbo].[REZERVASYONLAR] CHECK CONSTRAINT [FK_REZERVASYONLAR_MASALAR]
GO
ALTER TABLE [dbo].[REZERVASYONLAR]  WITH CHECK ADD  CONSTRAINT [FK_REZERVASYONLAR_MUSTERILER] FOREIGN KEY([MUSTERIID])
REFERENCES [dbo].[MUSTERILER] ([ID])
GO
ALTER TABLE [dbo].[REZERVASYONLAR] CHECK CONSTRAINT [FK_REZERVASYONLAR_MUSTERILER]
GO
ALTER TABLE [dbo].[SATISLAR]  WITH CHECK ADD  CONSTRAINT [FK_SATISLAR_ADISYON1] FOREIGN KEY([ADISYONID])
REFERENCES [dbo].[ADISYON] ([ID])
GO
ALTER TABLE [dbo].[SATISLAR] CHECK CONSTRAINT [FK_SATISLAR_ADISYON1]
GO
ALTER TABLE [dbo].[SATISLAR]  WITH CHECK ADD  CONSTRAINT [FK_SATISLAR_MASALAR] FOREIGN KEY([MASAID])
REFERENCES [dbo].[MASALAR] ([ID])
GO
ALTER TABLE [dbo].[SATISLAR] CHECK CONSTRAINT [FK_SATISLAR_MASALAR]
GO
ALTER TABLE [dbo].[SATISLAR]  WITH CHECK ADD  CONSTRAINT [FK_SATISLAR_URUNLER] FOREIGN KEY([URUNID])
REFERENCES [dbo].[URUNLER] ([ID])
GO
ALTER TABLE [dbo].[SATISLAR] CHECK CONSTRAINT [FK_SATISLAR_URUNLER]
GO
ALTER TABLE [dbo].[URUNLER]  WITH CHECK ADD  CONSTRAINT [FK_URUNLER_KATEGORILER] FOREIGN KEY([KATEGORIID])
REFERENCES [dbo].[KATEGORILER] ([ID])
GO
ALTER TABLE [dbo].[URUNLER] CHECK CONSTRAINT [FK_URUNLER_KATEGORILER]
GO
/****** Object:  StoredProcedure [dbo].[MusteriVarmi]    Script Date: 23.06.2022 18:35:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[MusteriVarmi]
	@Telefon varchar(11),
	@sonuc bit output
	as
	set @sonuc=0
	if exists (select*from MUSTERILER where TELEFON=@Telefon)


BEGIN
set @sonuc=1
end
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[41] 4[21] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = -96
         Left = 0
      End
      Begin Tables = 
         Begin Table = "ADISYON"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "MUSTERILER"
            Begin Extent = 
               Top = 6
               Left = 246
               Bottom = 136
               Right = 416
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "PAKETSIPARIS"
            Begin Extent = 
               Top = 6
               Left = 454
               Bottom = 136
               Right = 624
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "SATISLAR"
            Begin Extent = 
               Top = 6
               Left = 662
               Bottom = 186
               Right = 832
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "URUNLER"
            Begin Extent = 
               Top = 138
               Left = 38
               Bottom = 268
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 12
         Column = 1440
         Alias = 900
 ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_1'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'        Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_1'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_1'
GO
